<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aragornyang.alfred-workflow-for-tana</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6EF839C7-6A33-46D6-97F1-4E68C2B7E568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E7A45B-5A02-4305-9B63-90A8CA5B18B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84E7A45B-5A02-4305-9B63-90A8CA5B18B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C629AEAD-B7EF-4C52-A3C2-405FF1B9C3D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E19BC0A2-DE9D-4087-99D8-02592F1B74BC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C629AEAD-B7EF-4C52-A3C2-405FF1B9C3D7</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Aragorn Yang</string>
	<key>description</key>
	<string>A workflow created by you as part of Getting Started</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/node addToNode.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C629AEAD-B7EF-4C52-A3C2-405FF1B9C3D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/node auth.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EF839C7-6A33-46D6-97F1-4E68C2B7E568</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:apiToken}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>""</string>
						<key>outputlabel</key>
						<string>token-provided</string>
						<key>uid</key>
						<string>E19BC0A2-DE9D-4087-99D8-02592F1B74BC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>token-missing</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>84E7A45B-5A02-4305-9B63-90A8CA5B18B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6EF839C7-6A33-46D6-97F1-4E68C2B7E568</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>84E7A45B-5A02-4305-9B63-90A8CA5B18B2</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>C629AEAD-B7EF-4C52-A3C2-405FF1B9C3D7</key>
		<dict>
			<key>note</key>
			<string>addToNode</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>tanaApiToken</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>apiToken</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
